/*
/ This is the most annoying thing I've ever done.
/ I didn't think I'd have this much of a struggle with CSS.
/ I started this project to learn React; it's transformed into learning CSS.
/ I used to know how this worked but now I'm completely lost. 
*/

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  background-color: #262344;
}

button {
  color:#262344;
  background-color: aliceblue !important;
  cursor: pointer;
}

.mainUI {
  z-index: 0 !important;
  position: relative;
  left: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instructionHeader {
  color: aliceblue;
  margin-top: 25%;
  margin-bottom: 50px;
  text-shadow: 0px 0px 10px rgb(255, 0, 255);
}

.clicksHeader {
  color: aliceblue;
}

.clickButton {
  padding-block: 2%;
  margin-bottom: 6%;
}

.clickButton:hover {
  background-color: antiquewhite !important;
}

.upgradesUI {
  z-index: 1 !important;
  width: 250px;
  display: block;
  position: sticky;
  margin-left: 245%;
  bottom: 62%;
}

.upgradeButton {
  width: 250px;
  margin: 1% auto;
}

.upgradeButton:hover {
  background-color: aquamarine !important;
}

.researchUI {
  z-index: 1 !important;
  position: sticky;
  display: block;
  width: 300px;
  margin-left: 3%;
  bottom: 78%;
}

.researchButton {
  width: 300px;
  margin: 1% auto;
}

.resetButton {
  position: absolute;
  top: 0%;
  left: 0%;
  border-color: red;
  color: red;
  background-color: transparent !important;
}

.resetButton:hover {
  border-color: red;
  background-color: red !important;
  color: black;
  box-shadow: 0px 0px 6px 3px red;
}
