#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #262344;
}

button {
  color:#262344;
  cursor: pointer;
}

.instructionHeader {
  color: aliceblue;
  margin-bottom: 50px;
  text-shadow: 0px 0px 10px rgb(255, 0, 255);
}

.clicksHeader {
  color: aliceblue;
}

.clickButton {
  background-color: aliceblue;
  margin-bottom: 15px;
}

.clickButton:hover {
  background-color: antiquewhite;
}

.upgradeButton {
  background-color: aliceblue;
  margin-top: 15px;
}

.upgradeButton:hover {
  background-color: aquamarine;
}

.resetButton {
  position: absolute;
  top: 0%;
  left: 0%;
  border-color: red;
  color: red;
  background-color: transparent;
}

.resetButton:hover {
  border-color: red;
  background-color: red;
  color: black;
  box-shadow: 0px 0px 6px 3px red;
}
